body{
    background-color: powderblue;
}

.start{
    font-family: 'Arial', sans-serif;
    background-color: azure;
    color: darkblue;
}

img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid darkblue;
}